<div class="row mt-5 justify-content-center">
  <div class="col-7 mt-4">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="font-weight-bold">#AGRO | AGROMETGAL SA</h1>
        <p>ÚLTIIMA ACTUALIZACIÓN: 15/07/2021 - 12:54</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <mat-card class="text-center">
          <h1 class="mb-0">3.5b</h1>
          <p>CAPITALIZACIÓN BURSÁTIL</p>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="text-center">
          <h1 class="mb-0">0.00%</h1>
          <p>RENDIMIENTO DE DIVIDENDOS</p>
        </mat-card>
      </div>
      <div class="col-8">
        <mat-card class="mt-4 p-0">
          <div class="row">
            <div class="col-12">
              <h1 class="titulo">#AGRO | AGROMETAL SA</h1>
            </div>
            <div class="col-12 text-center">
              <p>ACTIVO
                <span class="verde">
                  <br>
                </span>
              </p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <mat-card class="text-center">
          <h1>CONFIGURACIÓN DEL TRADE</h1>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="text-center mt-3 mb-3">
          <h1 class="mb-0">$28.50</h1>
          <p>ZONA DE ENTRADA</p>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="text-center mt-3 mb-3">
          <h1 class="mb-0">$34.80</h1>
          <p>OBJETIVO</p>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="text-center mt-3 mb-3">
          <h1 class="mb-0">$26.20</h1>
          <p>STOP LOSS</p>
        </mat-card>
      </div>
      <div class="col-12">
        <mat-card class="text-center">
          <p>Formando figura de banderín de superar se activa el Long, con objetivo en el 100% de la extension de FIBO.
          </p>
        </mat-card>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <mat-card class="text-center">
          <img class="w-100" src="assets/trading-view.png">
        </mat-card>
      </div>
      <div class="col-12 mt-4">
        <mat-card class="text-center">
          <h1>ANÁLISIS TÉCNICO DE #AGRO</h1>
          <img class="w-100" src="assets/tecnico.png">
        </mat-card>
      </div>
    </div>
  </div>
</div>
