<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <span>
          <img src="../../../../assets/ROSS-ON-SM 1.png" alt="" srcset="">
        </span>
        <span class="spacer text-center">
          <button mat-button routerLink="/admin/home">HOME</button>
          <button mat-button routerLink="/admin/cartera">CARTERA</button>
          <button mat-button routerLink="/admin/alertas">ALERTAS</button>
          <button mat-button routerLink="/admin/escuela">ESCUELA</button>
        </span>
        <button mat-button routerLink="/admin/configuracion">CONFIGURACIÓN</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <app-boton-redes-sociales class="button-redes"></app-boton-redes-sociales>
  </mat-sidenav-content>
</mat-sidenav-container>
