<div class="row mt-5 justify-content-center">
  <div class="col-7 mt-4" *ngFor="let item of [1,1,1,1]">
    <mat-card>
      <div class="row header">
        <div class="col-2 text-start texto-chico">26 JUL</div>
        <div class="col-8 text-center">
          <h1 class="titulo">INICIO DEL DÍA CON NICOLAS PRIOTTI</h1>
        </div>
        <div class="col-2 text-end texto-chico">12:54</div>
        <div class="col-12 text-center">
            <p class="pl-5 pr-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
