.header {
    width: 100%;
    margin: 0 !important;
}

.texto-chico {
    font-size: 9px;
}

.titulo {
    color: #3A3A3A;
    font-size: 18px !important;
    font-weight: 700;
}

.descripcion {
    font-size: 12px !important;
}