.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-redes {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.mat-expansion-panel {
  box-shadow: none !important;
}