<div class="row mt-5 justify-content-center">
  <div class="col-7 mt-4">
    <mat-card class="mt-4 p-0">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">#AGRO | AGROMETAL SA</h1>
        </div>
        <div class="col-2 text-center">
          <p class="fecha font-14">15 JUL 2021</p>
          <p class="fecha">12:54</p>
        </div>
        <div class="col-8 text-center mb-3">
          Lorem Ipsum is simply dummy text
        </div>
        <div class="col-2 text-center">
          <span class="gris">
            <br>
          </span>
        </div>
      </div>
    </mat-card>

    <mat-card class="mt-4 p-0">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">#AGRO | AGROMETAL SA</h1>
        </div>
        <div class="col-2 text-center">
          <p class="fecha font-14">15 JUL 2021</p>
          <p class="fecha">12:54</p>
        </div>
        <div class="col-8 text-center mb-3">
          Lorem Ipsum is simply dummy text
        </div>
        <div class="col-2 text-center">
          <span class="verde">
            <br>
          </span>
        </div>
      </div>
    </mat-card>

    <mat-card class="mt-4 p-0">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">#AGRO | AGROMETAL SA</h1>
        </div>
        <div class="col-2 text-center">
          <p class="fecha font-14">15 JUL 2021</p>
          <p class="fecha">12:54</p>
        </div>
        <div class="col-8 text-center mb-3">
          Lorem Ipsum is simply dummy text
        </div>
        <div class="col-2 text-center">
          <span class="rojo">
            <br>
          </span>
        </div>
      </div>
    </mat-card>

    <mat-card class="mt-4 p-0">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">#AGRO | AGROMETAL SA</h1>
        </div>
        <div class="col-2 text-center">
          <p class="fecha font-14">15 JUL 2021</p>
          <p class="fecha">12:54</p>
        </div>
        <div class="col-8 text-center mb-3">
          Lorem Ipsum is simply dummy text
        </div>
        <div class="col-2 text-center">
          <span class="gris">
            <br>
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
